<div class="container spacer">
        <label >Mot Cle</label>
        <input type="text" ng-model="motCle">
    <button ng-click="chercherPatient()">charger</button>
    </div>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th><th>Nom</th><th>DateNaissance</th><th>Malade</th><th>Score</th>
            </tr>

            </thead>
            <tbody>
            <tr ng-repeat="p in pagePatients">
                <td>{{p.id}}</td><td>{{p.nom}}</td><td>{{p.dateNaissance | date:'dd/MM/yyyy'}}</td><td>{{p.malade}}</td><td>{{p.score}}</td>
            </tr>
            </tbody>

        </table>
    </div>
    <div class="container">
        <ul class="nav nav-pills">
            <li  ng-class="{active:currentPage==$index}" ng-repeat="p in pages track by $index" class="clickable">
                <a ng-click="goToPage($index)">{{$index}}</a>
            </li>
        </ul>
    </div>