<div class="container spacer">
    <div class="form-inline">
        <label class="form-label">Chercher: </label>
        <input type="text" class="form-control" placeholder="Entrez un mot clé" ng-model="motCle">
        <button class="btn btn-primary"  ng-click="searchByName()"><i class="bi bi-search"></i></button>
    </div>
        
</div>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th><th>Nom</th><th>DateNaissance</th><th>Malade</th><th>Score</th>
            </tr>

            </thead>
            <tbody>
            <tr ng-repeat="p in pagePatients">
                <td>{{p.id}}</td><td>{{p.nom}}</td><td>{{p.dateNaissance | date:'dd/MM/yyyy'}}</td><td>{{p.malade}}</td><td>{{p.score}}</td>
            </tr>
            </tbody>

        </table>
    </div>
    <div class="container">
        <ul class="nav nav-pills">
            <li  ng-class="{active:currentPage==$index}" ng-repeat="p in pages track by $index" class="clickable">
                <a ng-click="goToPage($index)">{{$index+1}}</a>
            </li>
        </ul>
        <div class="text-right mt-3">
         <div class="form-inline">
            <div class="form-group">
                <label for="exportType">Type d'export :</label>
                <select id="exportType"
                        class="form-control input-sm"
                        ng-model="exportType">
                <option value="1">PDF</option>
                <option value="2">Excel</option>
                </select>
            </div>

            <button class="btn btn-primary btn-sm" ng-disabled="exportType == 0" ng-click="exportType==1?exporterPDF():exporterExcel()">
                Exporter
            </button>
         </div>

        </div>
    </div>